@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background-color: #f4f4f4;
  font-family: Roboto;
}


main {
  clear: both;
}

.banner {
  clear: both;
}

h1.title {
  cursor: default;
  font-family: 'Share Tech Mono';
  font-size: 38pt;
  text-align: center;
}

.banner h1.title {
  color: #333;
  cursor: default;
  font-family: 'Share Tech Mono';
  font-size: 45pt;
  text-align: center;
}

.left-menu {
  background: rgb(33, 33, 33);
  border: 1px solid #666;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 100;
}

h3.left-menu-title {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  color: #ccc;
  font-weight: bold;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.left-navmenu {
  font-weight: bold;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

ul.left-navmenu li {
  list-style-type: none;
  padding: 15px;
}

ul.left-navmenu li a {
  color: #ccc;
  font-size: 18pt;
  padding: 10px;
  text-decoration: none;
}

ul.left-navmenu li a:hover,
ul.left-navmenu li a:active {
  color: #c0392b;
}

.btn-social,
.btn-social:active,
.btn-social:visited,
.btn-social:hover {
  border: 1px solid #333;
  color: #f1f1f1;
  font-size: 14pt;
  padding: 10px 30px 10px 30px;
  text-align: center;
  width: 100%;
  transition: .3s all;
}

.btn-social:hover,
.btn-social:active {
  opacity: .85;
}

.btn-social.twitter {
  background-color: #4099ff;
}

.btn-social.github {
  background-color: #90392b;
}

.btn-social.linkedin {
  background-color: #0e76a8;
}

.btn-social.fcc {
  background-color: #4ea658;
}

.social-buttons {
  margin-top: 60px;
}

.jumbotron.about,
.jumbotron.contact {
  background-color: #ecf0f1;
}

.img-profile {
  border: 1px solid #aaa;
  border-radius: 100%;
  box-shadow: 0px 1px 5px #aaa;
}

.jumbotron.portfolio {
  background-color: #e1ece1;
  width: 100%;
}

.jumbotron.about,
.jumbotron.portfolio,
.jumbotron.contact {
  border-radius: 0;
  margin-bottom: 0;
  text-align: justify;
}

.showcase {
  border: 3px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}

.showcase img {
  width: 100% !important;
}

.description {
  background: #dde1dd;
  border-top: #ccc;
  font-size: 12pt;
  padding: 5px;
}

footer {
  background: rgb(244, 244, 244);
  padding: 15px;
}

/**** Utils ****/

.centerv {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
